h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

:root {
  --font-family-global: 'Roboto', sans-serif;
  --font-family: 'Raleway', sans-serif;
  --bg-color: #ffffff;
  --bg-color-hero-footer: #2f303a;
  --bg-color-section: #f5f4fa;
  --color: #212121;
  --color-title: #ffffff;
  --color-text: #757575;
  --color-hover-focus: #2196f3;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-bg-social: rgba(255, 255, 255, 0.1);
  --color-header-bb: #ececec;
  --border-potfolio-card: #eeeeee;
  --border-client: #afb1b8;
}

body {
  font-family: var(--font-family-global);
  color: var(--color);
  background-color: var(--bg-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

/* Утилиты */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  border-bottom: 1px solid var(--color-header-bb);
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--color);
}

.logo > span {
  color: var(--color-hover-focus);
}

.nav {
  margin-left: 93px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--color);
}

.active,
.header-link:hover,
.header-link:focus {
  color: var(--color-hover-focus);
}

.nav-contacts {
  display: flex;
  margin-left: auto;
}

.link {
  color: var(--color-text);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Секция герой */

.hero-section {
  display: block;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-hero-footer);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section-title {
  max-width: 660px;
  color: var(--color-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.38;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: var(--font-family-global);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--color-hover-focus);
  color: var(--color-title);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: #0c76cc;
  color: var(--bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Особенности */

.peculiarities-list {
  text-align: left;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-item + .peculiarities-item {
  margin-left: 30px;
}

.peculiarities-icon-wrap {
  width: 100%;
  height: 120px;
  background: var(--bg-color-section);
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities-text {
  line-height: 1.71;
  color: var(--color-text);
}

/* Чем мы занимаемся */
.speciality-section {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.speciality-list-item {
  width: 370px;
}

.speciality-list-item + .speciality-list-item {
  margin-left: 30px;
}

/* Команда */
.team {
  background-color: var(--bg-color-section);
}

.team-item {
  width: 270px;
  background-color: var(--bg-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-wrap-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  color: var(--color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-text);
  margin-bottom: 16px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--border-client);
}

.team-social-link:hover {
  color: var(--color-title);
  background-color: var(--color-hover-focus);
}

.team-icon-social {
  fill: currentColor;
}

/* Постоянные клиенты */

.client-item + .client-item {
  margin-left: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  color: var(--border-client);
  border: 1px solid var(--border-client);
  border-radius: 4px;
}

.client-link:hover {
  border: 1px solid var(--color-hover-focus);
  color: var(--color-hover-focus);
}

.client-icon {
  fill: currentColor;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-hero-footer);
  color: var(--bg-color);
}

.footer-wraper {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  color: var(--bg-color);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.71;
  color: var(--color-footer-link);
  margin-top: 9px;
}

.address-link:hover,
.address-link:focus {
  color: var(--bg-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-title {
  font-style: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  background: var(--color-bg-social);
  border: none;
  border-radius: 50%;
  color: var(--bg-color);
}

.social-link:hover {
  background: var(--color-hover-focus);
}

.icon-social {
  fill: currentColor;
}

/* Portfolio */
.portfolio-list-btn {
  margin-bottom: 50px;
}

.portfolio-item + .portfolio-item {
  margin-left: 8px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  background: var(--bg-color-section);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.active {
  color: var(--color-title);
  background: var(--color-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  flex-wrap: wrap;
}

.potfolio-img {
  display: block;
  width: 100%;
}

.portfolio-item-card {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.potfolio-link {
  width: 370px;
  display: block;
  color: var(--color);
  text-decoration: none;
  cursor: pointer;
}

.potfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.potfolio-img {
  display: block;
}

.wrap-inside-cards {
  text-align: left;
  padding: 20px 24px;
  border: 1px solid var(--border-potfolio-card);
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}
